@{
    ViewBag.Title = "DangKy";
}

<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/bootstrap/css/Style_ChiTietSanPham.css" rel="stylesheet" />
<link href="~/bootstrap/css/Style_Designer.css" rel="stylesheet" />


<div>
    <div class="container">
        <div class="row background_dk">
            <div class="col-md-5 pl-0">
                <a href="/Home/TrangChu" style="text-decoration:none; margin-top:20px; text-align:center">
                    <h6 style="color: aliceblue; font-weight: bold; margin-left: 200px; margin-top: 20px; box-shadow: 0 0 5px #0026ff">
                        Quay lại trang chủ
                    </h6>
                </a>
                <img src="~/HinhAnh/logoHang/dn.gif" width="500" style="margin-top:100px" />
            </div>
            <div class="col-md-5 text-center">
                <div class="form_dk">
                    <form method="post" action="/Home/DangKy">

                        <div class="fgroup">
                            <b>Nhập thông tin tài khoản</b>
                            <p>Tên đăng nhập</p>
                            <input type="text" name="TenDangNhap" placeholder="" class="input_Dn" />
                            <br /><br />
                            <p>Mật khẩu</p>
                            <input type="password" name="MatKhau" placeholder="" class="input_Dn" />
                            @if (ViewBag.dk_err != null)
                            {
                                <label class="text-danger">@ViewBag.dk_err</label>
                            }
                            <br /><br />
                            <p>Xác nhận mật khẩu</p>
                            <input type="password" name="XNMatKhau" placeholder="" class="input_Dn" />
                            @if (ViewBag.dk_err != null)
                            {
                                <label class="text-danger">@ViewBag.dk_err</label>
                            }
                        </div>
                        <div class="fgroup">
                            <input type="submit" value="Đăng nhập" class="btn_Dn" />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
